# Diretório de dependências do Node.js
node_modules/

# Diretórios de build/compilação do Vite
/dist
/build

# Logs e caches
npm-debug.log*
yarn-error.log*
.npm/
.yarn/

# Arquivos de ambiente e chaves
.env
.env.local
